body{
    background-color: #333333;
}

.tab{
    font-size: 20px;
    width :1300px;
    height: 50px;
    background-color:black;
    margin: auto;
    color: white;
}

.header{
    width: 1300px;
    height: 400px;
    margin: auto;
    color: #cccccc;
    text-align: center;
    box-shadow: 5px 5px 5px#262626;
    padding : 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;


}

.deskripsi{
    width : 1200px;
    margin:auto;
    font-size: 20px;
    color: #cccccc ;
}

.pendidikan{
    width: 1200px;
    color: #cccccc;
    height: 500px;
    background-color:  #333333;
    margin: auto;
    font-size: 20px;
}

.keahlian{
    width: 1200px;
    color: #cccccc;
    height: 500px;
    background-color:  #333333;
    margin: auto;
    font-size: 20px;
}

.copyright{
    width: 1300px;
    padding: 18px;
    color: #cccccc;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px 5px#262626;
}
